.container {
  color: #0b3c5d;
  height: 100% !important;
}
span {
  color: #ffffff;
}
.navbar {
  background-color: #0b3c5d;
  height: 80px;
}
a {
  color: #efefef;
  margin: 3em;

  &.active {
    border-bottom: 3px solid #d9b310;
  }
}
