<div class="d-fle chat-window">
  <app-chatroom-titlebar [title]="'Messages'"></app-chatroom-titlebar>
  <div class="message-wrapper">
    <ng-container *ngFor="let message of dummyData">
      <app-chat-message [message]="message"></app-chat-message>
    </ng-container>
  </div>
  <app-chat-input></app-chat-input>
</div>
